
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
      
    <!-- Contenedor principal -->
    <div class="container">
      <!-- Imagen de perfil -->
      <div class="profile-image">
        <!-- Aquí colocarías tu imagen de perfil -->
        <img src="/assets/Profile-720.png" alt="Profile Picture">
      </div>

      <!-- Datos del usuario -->
      <div class="user-info" *ngIf="!loading">
        <p>DATOS DE USUARIO:</p>
        <p>Usuario: <strong>{{usuario}}</strong> </p>
        <p>Correo: {{user.correo}}</p>
        <p>Rol: {{rol}}</p>
      </div>
      <!-- Barra de carga -->
      <div *ngIf="loading" class="loading-indicator ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Cargando...</p>
      </div>
    </div>
  </div>
</ion-content>
